<% @places.each do |place| %>
<div class="booyah-box col-6 offset-3 text-center">
  <h1><%= link_to place.name, place_path(place) %></h1><br />
  <i><%= place.address %></i><br /><br />
  <p><%= place.description %></p><br />
  <% if place.user.present? %>
  <small><%= place.user.email %></small>
  <% end %>
</div>
<% end %>
<div class="pagination">
<%= will_paginate @places %>
</div>
